{include file='public/header' /}
{include file='public/menu' /}


<span class="layui-breadcrumb">
      <a><cite>首页</cite></a>
    </span>

<!-- 内容主体区域 -->
<div class="mgt-20">
    <p>内容主体区域</p>

    <div>
        <hr>
        <p>静态表格:</p>
        <div class="layui-form">
            <table class="layui-table">
                <colgroup>
                    <col width="150">
                    <col width="150">
                    <col width="200">
                    <col>
                    <col width="200">
                </colgroup>
                <thead>
                <tr>
                    <th>人物</th>
                    <th>民族</th>
                    <th>出场时间</th>
                    <th>格言</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>贤心</td>
                    <td>汉族</td>
                    <td>1989-10-14</td>
                    <td>人生似修行</td>
                    <td>
                        <div class="layui-btn-group">
                            <button class="layui-btn layui-btn-sm"><i class="layui-icon"></i></button>
                            <button class="layui-btn layui-btn-sm"><i class="layui-icon"></i></button>
                            <button class="layui-btn layui-btn-sm"><i class="layui-icon"></i></button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div>
        <hr>
        <p>文件上传:</p>
        <form action="{:url('/index/upload/ossImage')}" method="post" enctype="multipart/form-data">
            <input type="file" name="file">
            <input type="submit" value="提交">
        </form>
    </div>
</div>

{include file='public/footer' /}