.main .item h1 {
    font-size: 12px;
@import;
}

.limit-line-1 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.limit-line-2 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

table tr th{
    font-size: 12px !important;
}
table tr td{
    font-size: 12px !important;
}

.mgt-10 {
    margin-top: 10px;
}

.mgt-20 {
    margin-top: 20px;
}

.mgb-10 {
    margin-bottom: 10px;
}

.mgb-20 {
    margin-bottom: 20px;
}

.pdl-10 {
    padding-left: 10px;
}

.pdr-10 {
    padding-right: 10px;
}

.pdr-20 {
    padding-right: 20px;
}

.lx-page {
    overflow: hidden;
}

.lx-page ul li {
    display: inline-block;
}

.lx-page ul li span {
    display: inline-block;
    margin: 5px;
    border: 1px #ccc solid;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
}

.lx-page .active span {
    background: lightskyblue;
}

.lx-page ul li a {
    display: inline-block;
    margin: 5px;
    border: 1px #ccc solid;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
}

.lx-page ul li a:hover {
    color: #fff;
    background: #00aaaa;
    border: 1px #00aaaa solid;
}