{include file='public/header' /}
{include file='public/menu' /}
{load href="/static/plugin/mdeditor/css/editormd.css" /}

<!--此处解决layui与editormd样式冲突-->
<style>
    li {
        list-style: inherit;
    }
</style>

<span class="layui-breadcrumb">
      <a href="/">稿件中心</a>
      <a><cite>新增</cite></a>
</span>

<!-- 内容主体区域 -->
<div class="mgt-20">

    <div class="layui-form layui-form-pane" action="">
        <div class="layui-form-item">
            <label class="layui-form-label">title</label>
            <div class="layui-input-block">
                <input type="text" name="title" id="title" placeholder="请输入标题" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">keyword</label>
            <div class="layui-input-block">
                <input type="text" name="keyword" id="keyword" placeholder="请输入标题" class="layui-input">
            </div>
        </div>
        <!--<div class="layui-form-item">-->
        <!--<label class="layui-form-label">cover</label>-->
        <!--<div class="layui-input-block">-->
        <!--<button type="button" class="layui-btn" id="cover"><i class="layui-icon"></i>上传文件</button>-->
        <!--</div>-->
        <!--<input type="hidden" name="cover" class="layui-input" value="">-->
        <!--<img class="mgt-10" style="height: 100px;" src="https://upload-images.jianshu.io/upload_images/1202579-bfd335aed818addb?imageMogr2/auto-orient/strip|imageView2/1/w/360/h/240" alt="">-->
        <!--</div>-->
        <div class="layui-form-item layui-form-text">
            <!--<label class="layui-form-label">描述</label>-->
            <div class="layui-input-block">
                <textarea placeholder="请输入描述" name="description" id="description" class="layui-textarea"></textarea>
            </div>
        </div>
    </div>

    <div style="overflow: hidden" class="mgb-10">
        <button type="button" style="float: right" class="layui-btn" onclick="add()">提交</button>
    </div>

    <div id="editormd">
        <textarea style="display:none;"></textarea>
    </div>

    <div style="overflow: hidden">
        <button type="button" style="float: right" class="layui-btn" onclick="add()">提交</button>
    </div>
</div>

{load href="/static/plugin/mdeditor/editormd.js" /}
<script type="text/javascript">
    var editor;
    $(function () {
        editor = editormd("editormd", {
            width: "100%",
            height: 640,
            saveHTMLToTextarea: true,
            toolbarIcons: "simple",
            path: "/static/plugin/mdeditor/lib/",

            imageUpload : true,
            imageFormats : ["jpg", "jpeg", "gif", "png", "bmp"],
            imageUploadURL : "{:url('/index/upload/ossImageMarkdown')}",//注意你后端的上传图片服务地址
        });

        layui.upload.render({
            elem: '#cover'
            , url: '/upload/'
            , accept: 'file' //普通文件
            , done: function (res) {
                console.log(res)
            }
        });
    });

    function add() {
        var title = $("#title").val();
        var keyword = $("#keyword").val();
        var description = $("#description").val();
        var content = editor.getHTML();
        var md_content = editor.getMarkdown();
        var data = {title: title, keyword: keyword, description: description, content: content, md_content: md_content};
        $.ajax({
            type: "post",
            url: "{:url('article/doAdd')}",
            data: data,
            success: function (res) {
                if (res.code == 0) {
                    layer.msg(res.msg, {time: 1500}, function () {
                        window.location.href = "{:url('article/index')}";
                    });
                } else {
                    layer.msg(res.msg);
                }
            }
        });
    }
</script>

{include file='public/footer' /}