{include file='public/header' /}
{include file='public/menu' /}


<span class="layui-breadcrumb">
    <a href="{:url('article/index')}">稿件中心</a>
    <a><cite>列表</cite></a>
    <hr>
</span>

<!-- 内容主体区域 -->
<div class="mgt-20">

    <a class="layui-btn layui-btn-sm layui-btn-normal" href="{:url('article/add')}">&nbsp;<i class="layui-icon"></i></a>

    <div class="layui-form">
        <table class="layui-table" style="font-size: 12px;">

            <thead>
            <tr>
                <th>ID</th>
                <th>标题</th>
                <th>创建时间</th>
                <th>更新时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {volist name='list' id='item'}
            <tr>
                <td>{$item.id}</td>
                <td>{$item.title}</td>
                <td>{$item.gmt_create}</td>
                <td>{$item.gmt_update}</td>
                <td>
                    <div class="layui-btn-group">
                        <!--<button class="layui-btn layui-btn-sm"><i class="layui-icon"></i></button>-->
                        <a class="layui-btn layui-btn-xs" href="{:url('article/edit')}?id={$item.id}">
                            <i class="layui-icon"></i></a>
                        <button class="layui-btn layui-btn-xs" onclick="del('{$item.id}')">
                            <i class="layui-icon"></i>
                        </button>
                        <?php if($item['status']==1):?>
                        <button class="layui-btn layui-btn-xs layui-btn-danger" onclick="online(0,'{$item.id}')">下线
                        </button>
                        <?php elseif($item['status']==0):?>
                        <button class="layui-btn layui-btn-xs" onclick="online(1,'{$item.id}')">上线</button>
                        <?php endif;?>
                    </div>
                </td>
            </tr>
            {/volist}
            </tbody>
        </table>
    </div>

    <div class="lx-page">
        {$list|raw}
    </div>

</div>

<script>
    function del(id) {
        var data = {id: id};
        layer.confirm("确定删除？", function () {
            $.ajax({
                type: "post",
                url: "{:url('article/delete')}",
                data: data,
                success: function (res) {
                    if (res.code == 0) {
                        layer.msg(res.msg, {time: 1000}, function () {
                            location.reload();
                        });
                    } else {
                        layer.msg(res.msg);
                    }
                }
            });
        });
    }

    function online(status, id) {
        var data = {id: id, status: status};
        layer.confirm("确定上下线操作？", function () {
            $.ajax({
                type: "post",
                url: "{:url('article/online')}",
                data: data,
                success: function (res) {
                    if (res.code == 0) {
                        layer.msg(res.msg, {time: 1500}, function () {
                            location.reload();
                        });
                    } else {
                        layer.msg(res.msg);
                    }
                }
            });
        });
    }
</script>

{include file='public/footer' /}