{include file='public/header' /}
{include file='public/menu' /}
<style>
    .time-input {
        padding-right: 5px;
        padding-left: 5px;
        margin-bottom: 10px;
        line-height: 30px;
        height: 40px;
        width: 48%;
        border: 1px solid #999;
        border-radius: 3px;
        margin-top: 5px;
    }
    .time-btn{
        padding-right: 15px;
        padding-left: 15px;
        line-height: 30px;
        height: 30px;
        border: 0;
        border-radius: 2px;
        color: #333;
        font-size: 14px;
        background: #B7D6EC;
    }
    .timestamp{
        color: orangered;
    }
</style>
<main role="main" class="container">
    <div class="row">
        <div class="col-md-8">
            <h4>时间戳</h4>
            <hr>
            <div class="mgt-20 mgb-20">
                <span class="mgb-10">当前时间戳(秒)：<span class="timestamp">{:$data['now']}</span></span>
            </div>
            <hr>
            <div class="mgt-20 mgb-20" style="overflow:hidden;">
                <span class="mgb-10">时间戳(秒)：</span>
                <br>
                <input type="text" class="time-input time1in" style="float: left" value="{:$data['now']}">
                <input type="text" class="time-input time1out" style="float: right;" value="" onclick="this.select()">
                <br>
                <input type="submit" class="time-btn" value="转换" onclick="doChange(1)">
            </div>

            <div class="mgt-20 mgb-20">
                <span style="margin-bottom: 10px">北京时间：</span>
                <br>
                <input type="text" class="time-input time2in" style="float: left" value="{:$data['nowDate']}">
                <input type="text" class="time-input time2out" style="float: right" value="" onclick="this.select()">
                <br>
                <input type="submit" class="time-btn" value="转换" onclick="doChange(2)">
            </div>
        </div>
        <div class="col-md-4">
            <div class="column">
                <div class="mgb-20" style="height: 50px;background: #FEBB50;border-radius: 5px;"></div>
                <div class="mgb-20" style="height: 50px;background: #F69281;border-radius: 5px;"></div>
                <div class="mgb-20" style="height: 50px;background: #F6B890;border-radius: 5px;"></div>
                <div class="mgb-20" style="height: 50px;background: #C1E4DE;border-radius: 5px;"></div>
                <div class="mgb-20" style="height: 50px;background: #B7D6EC;border-radius: 5px;"></div>
            </div>
        </div>
    </div>
</main>

{load href="/static/js/jquery-3.3.1.min.js" /}
<script>
    $(function () {
        setInterval(function(){
            var timestamp = parseInt($(".timestamp").html());
            $(".timestamp").html(timestamp+1);
        },1000);
    });

    function doChange(type) {
        var value = null;
        if(type==1){
            value = $(".time1in").val();
            var url = "{:url('/tool/changeTime')}" +"?type="+type +"&value="+value;
            $.get(url,function (res) {
                $(".time1out").val(res.data);
            });
        }

        if(type==2){
            value = $(".time2in").val();
            var url = "{:url('/tool/changeTime')}" +"?type="+type +"&value="+value;
            $.get(url,function (res) {
                $(".time2out").val(res.data);
            });
        }

    }
</script>

{include file='public/footer' /}
