{layout name="public/layout_a"/}

{load href="/static/css/search.css" /}
<style>
    input {
        height: 38px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .bg-gry {
        background: #dedede;
    }
</style>
<h1 class="logo-right hidden-xs margin-bottom-60">时间戳</h1>
<div class="tm-right-inner-container">
    <div class="clear-both"></div>

    <div class="row">
        <div class="col-sm-12 col-md-12">
            <h4>当前时间</h4>
        </div>
        <div class="col-sm-4 col-md-4 margin-bottom-20">
            <input type="text" id="nowtime" style="width: 100%" readonly value="{$nowTime}">
        </div>
        <div class="col-sm-4 col-md-4 margin-bottom-20">
            <!--<input type="submit" style="width: 100%">-->
        </div>
        <div class="col-sm-4 col-md-4 margin-bottom-20">
            <input type="text" id="nowdate" style="width: 100%" readonly value="{$nowDate}">
        </div>
    </div>

    <hr style="margin-top: 10px;margin-bottom: 10px;">


    <div class="row">
        <div class="col-sm-12 col-md-12">
            <h4>时间戳⇒日期</h4>
        </div>
        <div class="col-sm-4 col-md-4 margin-bottom-20">
            <input type="text" id="time-a" style="width: 100%" placeholder="时间戳：秒">
        </div>
        <div class="col-sm-4 col-md-4 margin-bottom-20">
            <input type="submit" id="time-to-date" style="width: 100%" value="转换">
        </div>
        <div class="col-sm-4 col-md-4 margin-bottom-20">
            <input type="text" id="date-a" style="width: 100%" placeholder="年-月-日 时：分：秒">
        </div>
    </div>

    <hr style="margin-top: 10px;margin-bottom: 10px;">

    <div class="row">
        <div class="col-sm-12 col-md-12">
            <h4>日期⇒时间戳</h4>
        </div>
        <div class="col-sm-4 col-md-4 margin-bottom-20">
            <input type="text" id="date-b" style="width: 100%" placeholder="年-月-日 时：分：秒">
        </div>
        <div class="col-sm-4 col-md-4 margin-bottom-20">
            <input type="submit" id="date-to-time" style="width: 100%" value="转换">
        </div>
        <div class="col-sm-4 col-md-4 margin-bottom-20">
            <input type="text" id="time-b" style="width: 100%" placeholder="时间戳：秒">
        </div>
    </div>
</div>

<script>
    $(function () {
        setInterval(function () {
            // 时间戳
            var time = Number($('#nowtime').val());
            $('#nowtime').val(time + 1);
            // 日期
            var date = new Date((time + 1) * 1000);
            Y = date.getFullYear();
            M = (date.getMonth() + 1 < 10 ? '0' + (date.getMonth() + 1) : date.getMonth() + 1);
            D = date.getDate();
            h = date.getHours();
            m = date.getMinutes();
            s = (date.getSeconds() < 10 ? '0' + date.getSeconds() : date.getSeconds());
            var date = Y + '-' + M + '-' + D + ' ' + h + ':' + m + ':' + s;
            $('#nowdate').val(date);
        }, 1000)
    });

    $("#time-to-date").click(function () {
        var time = $("#time-a").val();
        $.get("/tool/timeToDate", {'time': time}, function (data) {
            if (data.code === 0) {
                $("#date-a").val(data.data.date);
            } else {
                alert("未知错误");
            }
        })
    });
    $("#date-to-time").click(function () {
        var date = $("#date-b").val();
        $.get("/tool/dateToTime", {'date': date}, function (data) {
            if (data.code === 0) {
                $("#time-b").val(data.data.time);
            } else {
                alert("未知错误");
            }
        })
    })
</script>
