{layout name="public/layout_a"/}
<h1 class="logo-right hidden-xs margin-bottom-60">关于</h1>
<div class="tm-right-inner-container">
    <h1 class="templatemo-header">关于站点</h1>
    <p>
        ◉ [2018-07-24 22:30:00] 站点开发于2018年6月到7月，大概是这个时间。映像中搭建这个站点拖了很长的时间，难道这就是传说中的拖延症么！这个站点看来不像是亲儿子啊，<-_<-，手动滑稽。
    </p>
    <p>
        ◉ [2018-07-24 22:32:00] 站点大概定于2018年8月1日上线吧，到了8月1号将会清除测试数据，开始小豆豆之旅！
    </p>
    <p>
        ◉ [2018-07-26 22:20:12] 为何按捺不住想要提前上线，笑哭，还是忍忍哈！再完善一点，不差这几天。
    </p>
    <p>
        ◉ [2018-07-31 21:12:12] 好了，今天晚上开始整理测试的数据，把他们全部清空掉，然后正式开始明天的上线！吼吼吼，顺便加上站点已经运行时间！
    </p>

    <article class="templatemo-item">
        <h2>站点已运行时间：<span class="green">{$runtime}</span></h2>
    </article>

    <article class="templatemo-item">
        <h2>关于我</h2>
        <p>◉ 我什么都不想说！！！</p>
    </article>

</div>
