{include file='public/header' /}
{include file='public/menu' /}
{load href="/static/plugin/mdeditor/css/editormd.css" /}

<main role="main" class="container">
    <div class="row">
        <div class="col-md-8">
            <h1 class="title" style="font-size: 30px;font-weight: bold">{$article.title}</h1>
            <div class="info mgt-20" style="color: #666; font-size: 14px;">
                <span class="pdr-10">{$article.gmt_create}</span>
                <span class="pdr-10">阅读 ({$article.views})</span>
            </div>
            <div class="content mgt-20 mgb-20">
                <div class="markdown-body editormd-preview-container" style="padding: 0">
                    <?php echo $article['content'];?>
                </div>
            </div>

            <div class="comment">
                <!--PC和WAP自适应版-->
                <div id="SOHUCS" sid="{$article.id}"></div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="column">
                <div class="mgb-20" style="height: 50px;background: #FEBB50;border-radius: 5px;"></div>
                <div class="mgb-20" style="height: 50px;background: #F69281;border-radius: 5px;"></div>
                <div class="mgb-20" style="height: 50px;background: #F6B890;border-radius: 5px;"></div>
                <div class="mgb-20" style="height: 50px;background: #C1E4DE;border-radius: 5px;"></div>
                <div class="mgb-20" style="height: 50px;background: #B7D6EC;border-radius: 5px;"></div>
            </div>
        </div>
    </div>
</main>

<script type="text/javascript">
    (function () {
        var appid = 'cyu2zJcH8';
        var conf = 'prod_36d957565eb9597d35d5fe163b5a6307';
        var width = window.innerWidth || document.documentElement.clientWidth;
        if (width < 960) {
            window.document.write('<script id="changyan_mobile_js" charset="utf-8" type="text/javascript" src="https://changyan.sohu.com/upload/mobile/wap-js/changyan_mobile.js?client_id=' + appid + '&conf=' + conf + '"><\/script>');
        } else {
            var loadJs = function (d, a) {
                var c = document.getElementsByTagName("head")[0] || document.head || document.documentElement;
                var b = document.createElement("script");
                b.setAttribute("type", "text/javascript");
                b.setAttribute("charset", "UTF-8");
                b.setAttribute("src", d);
                if (typeof a === "function") {
                    if (window.attachEvent) {
                        b.onreadystatechange = function () {
                            var e = b.readyState;
                            if (e === "loaded" || e === "complete") {
                                b.onreadystatechange = null;
                                a()
                            }
                        }
                    } else {
                        b.onload = a
                    }
                }
                c.appendChild(b)
            };
            loadJs("https://changyan.sohu.com/upload/changyan.js", function () {
                window.changyan.api.config({appid: appid, conf: conf})
            });
        }
    })(); </script>

{load href="/static/plugin/bootstrap/assets/js/vendor/jquery-slim.min.js" /}
{load href="/static/plugin/bootstrap/dist/js/bootstrap.min.js" /}
{include file='public/footer' /}
