{include file='public/header' /}
{include file='public/menu' /}

<main role="main" class="container">
    <div class="row">
        <div class="col-md-8">
            <!--<img style="width: 100%" src="https://upload.jianshu.io/admin_banners/web_images/4601/3f4d6684a208a27d92ea7b5b9759c9dc5049d4c0.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/1250/h/540" alt="">-->
            <!--<hr>-->

            {volist name='list' id='item'}
            <?php if(empty($item['cover'])):?>
            <div class="item" style="overflow: hidden;">
                <div class="" style="width: 100%;display: inline-block;">
                    <a class="limit-line-1" style="font-size: 16px; font-weight: bold;color: #444"
                       href="{:url('/detail')}/{$item.uuid}">{$item.title}</a>
                    <p class="limit-line-2" style="margin-top:10px;color: #888;font-size: 14px;">{$item.description}</p>
                    <p style="color: #aaa;font-size: 12px;">
                        <span>[ {$item.gmt_create} ]</span>
                        <span>浏览 ({$item.views})</span>
                    </p>
                </div>
            </div>
            <hr>
            <?php else:?>
            <div class="item" style="overflow: hidden;">
                <div class="" style="width: 77%;display: inline-block;padding-right: 1rem;">
                    <a class="limit-line-1" style="font-size: 16px; font-weight: bold;color: #444"
                       href="{:url('/detail')}/{$item.uuid}">{$item.title}</a>
                    <p class="limit-line-2" style="margin-top:10px;color: #888;font-size: 14px;">{$item.description}</p>
                    <p style="color: #aaa;font-size: 12px;">
                        <span>[ {$item.gmt_create} ]</span>
                        <span>浏览 ( {$item.views} )</span>
                    </p>
                </div>
                <div style="width: 23%;display: inline-block; float: right">
                    <img src="{$item.cover}" alt="" width="100%" style="border-radius: 5px;">
                </div>
            </div>
            <hr>
            <?php endif;?>
            {/volist}

            <div class="lx-page">
                {$list|raw}
            </div>
        </div>

        <div class="col-md-4">
            <div class="column">
                <div class="mgb-20" style="height: 50px;background: #FEBB50;border-radius: 5px;"></div>
                <div class="mgb-20" style="height: 50px;background: #F69281;border-radius: 5px;"></div>
                <div class="mgb-20" style="height: 50px;background: #F6B890;border-radius: 5px;"></div>
                <div class="mgb-20" style="height: 50px;background: #C1E4DE;border-radius: 5px;"></div>
                <div class="mgb-20" style="height: 50px;background: #B7D6EC;border-radius: 5px;"></div>
            </div>
        </div>
    </div>
</main>

{load href="/static/plugin/bootstrap/assets/js/vendor/jquery-slim.min.js" /}
{load href="/static/plugin/bootstrap/dist/js/bootstrap.min.js" /}
{include file='public/footer' /}
