{layout name="public/layout_a"/}
<style>

</style>
<h1 class="logo-right hidden-xs margin-bottom-60">工具</h1>
<div class="tm-right-inner-container">
    <div class="clear-both"></div>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="tool-card">
                <a href="/tool/timestamp"><i class="fa fa-gears fa-medium"></i> 时间戳</a>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="tool-card">
                <a href="/tool/mi"><i class="fa fa-gears fa-medium"></i> 加密解密</a>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="tool-card">
                <a href="/tool/ip"><i class="fa fa-gears fa-medium"></i> IP查询工具</a>
            </div>
        </div>
    </div>
</div>
