{include file='public/header' /}
{include file='public/menu' /}

<main role="main" class="container">
    <div class="row">
        <div class="col-md-8">
            <h4>常用工具</h4>
            <hr>
            <div style="overflow: hidden">
                <a href="{:url('/tool/timestamp')}" style="text-decoration: none;color: #666;text-align: center;">
                    <h5 style="background: #FEBB50;width: 48%;height: 50px;border-radius: 5px;line-height: 50px;display: inline-block;float: left">时间戳</h5>
                </a>
                <a href="{:url('/tool/md5')}" style="text-decoration: none;color: #666;text-align: center;">
                    <h5 style="background: #B7D6EC;width: 48%;height: 50px;border-radius: 5px;line-height: 50px;display: inline-block;float: right;">MD5加密</h5>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="column">
                <div class="mgb-20" style="height: 50px;background: #FEBB50;border-radius: 5px;"></div>
                <div class="mgb-20" style="height: 50px;background: #F69281;border-radius: 5px;"></div>
                <div class="mgb-20" style="height: 50px;background: #F6B890;border-radius: 5px;"></div>
                <div class="mgb-20" style="height: 50px;background: #C1E4DE;border-radius: 5px;"></div>
                <div class="mgb-20" style="height: 50px;background: #B7D6EC;border-radius: 5px;"></div>
            </div>
        </div>
    </div>
</main>

{load href="/static/plugin/bootstrap/assets/js/vendor/jquery-slim.min.js" /}
{load href="/static/plugin/bootstrap/dist/js/bootstrap.min.js" /}
{include file='public/footer' /}
